html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
    font-family: Arial, Verdana, sans-serif;
    background-color: #C0C6DC;
}

ul {
    list-style-type: disc;
}

b {
    font-size: 14px;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    display: flex;
    margin: 40px;
    border-radius: 40px;
    background-color: #fff;
}

.title {
    display: inline-block;
    margin: 0;
    font-weight: 700;
    font-size: 45px;
}

.subtitle {
    font-weight: 700;
    font-size: 22px;
}

.text {
    color: #4a5161;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
}

.link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #7549ea;
}

.left-side {
    width: 370px;
    border-radius: 40px;
    background-color: rgba(224, 235, 254, 0.7);
}

.left-side-content {
    padding: 40px;
}

.img {
    width: 100%;
}

.btn {
    padding: 14px 16px;
    width: 100%;
    min-height: 48px;
    border-radius: 16px;
    font-weight: 700;
    font-size: 16px;
}

.btn-purple {
    margin-bottom: 16px;
    color: #fff;
    background: #7549ea;
}

.btn-purple:hover {
    background: purple;
}

.btn-transparent {
    border: 1px solid #7549ea;
    background-color: none;
    color: #7549ea;
}

.btn-transparent:hover {
    background-color: #7549ea;
    color: #fff;
}

.item {
    display: inline-block;
    padding: 0px 8px;
    margin: 0px 8px 8px 0px;
    border-radius: 6px;
    color: #7549ea;
    background-color: rgba(117, 73, 234, 0.2);
    font-size: 14px;
    line-height: 171%;
}

.friends-num {
    font-weight: 400;
    font-size: 22px;
    color: #4a5161;
}

.friends-subtitle {
    display: inline-block;
    margin-right: 16px;
}

.right-side {
    width: 830px;
    padding: 60px;
}

.section {
    margin-bottom: 24px;
}

.line {
    border-bottom: 1px solid #e0eafe;
}

.bold-text {
    display: inline-block;
    margin-right: 24px;
    min-width: 65px;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    color: #1f2937;
}

.bio-text {
    max-width: 710px;
}